[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yolk3k = "*"
setuptools = "*"
jupyterlab = "*"
pandas = "*"
altair = "*"
numpy = "*"
datawrapper = "*"
pyjanitor = "*"
requests = "*"
pyarrow = "*"
fastparquet = "*"

[dev-packages]

[requires]
python_version = "3.13"
